body {
  font-family: sans-serif;
}

input {
  border-radius: 16px;
  border: none;
  padding: 6px 16px;
  outline: none; /* 入力選択時の枠線を消す*/
}

button {
  border-radius: 16px;
  border: none;
  padding: 6px 16px;
}

button:hover {
  background-color: #ff7fff;
  color: #fff;
  cursor: pointer; /* カーソル時、ポインターモードへ変更*/
}

p.todo {
  margin: 6px 8px 6px 0px;
}

.title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  color: #666;
}

.list-row {
  display: flex;
  align-items: center;
}
